@model IEnumerable<BlogDS.Models.BlogPost>

<div class="container">
        <h2>Admin</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>

        <div class="col-md-1">
            <strong>@Html.DisplayNameFor(model => model.Created)</strong>
        </div>
        <div class="col-md-1">
            <strong>@Html.DisplayNameFor(model => model.Updated)</strong>
</div>
        <div class="col-md-1">
            <strong>@Html.DisplayNameFor(model => model.Title)</strong>
</div>
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(model => model.Body)</strong>
</div>
        <div class="col-md-2">
            <strong>@Html.DisplayNameFor(model => model.MediaURL)</strong>
</div>
        <div class="col-md-1">
            <strong>@Html.DisplayNameFor(model => model.Slug)</strong>
</div>
        <div class="col-md-1">
            <strong>@Html.DisplayNameFor(model => model.Categories)</strong>
</div>
        <div class="col-md-1">
            <strong>@Html.DisplayNameFor(model => model.Tags)</strong>
</div>
        <div class="col-md-1">
            <strong>Options</strong>
</div>

        @foreach (var item in Model)
            {
            <div class="row">
                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.Created)
                </div>
                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.Updated)
                </div>
                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.Title)
                </div>
                <div class="col-md-3">
                    @Html.Raw(item.Body)
                </div>
                <div class="col-md-2 admin-table">
                    @Html.DisplayFor(modelItem => item.MediaURL)
                </div>
                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.Slug)
                </div>
                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.Categories)
                </div>
                <div class="col-md-1">
                    @Html.DisplayFor(modelItem => item.Tags)
                </div>
                <div class="col-md-1">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    @Html.ActionLink("Details", "Details", new { slug = item.Slug })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </div>
            </div>
            <hr />
        }

    </div>

