    <!-- Navigation start -->

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://dscinto.azurewebsites.net/">Dan Scinto</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://dscinto.azurewebsites.net/">Home</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="https://localhost:44300/account/login">Log In</a></li>
                </ul>
            </div>

        </div>
    </nav>

    <!-- Navigation end -->
    <!-- Intro section start -->

    <section id="intro" class="section">

        <div class="container">

            <div class="row">

                <div class="col-md-12">

                    <div class="hello wow bounceInDown">
                        <h1>My Thoughts On...</h1>
                        <h3><span class="rotate">Emerging Technology. | Travel. | Coding. | The Outdoors. | Education. | Food.</span></h3>
                    </div>

                    <a href="#blog">
                        <div class="mouse-icon">
                            <div class="wheel"></div>
                        </div>
                    </a>

                </div>

            </div><!-- .row -->

        </div><!-- .container -->

    </section><!--Intro section end-->

    <div class="container body-content">
        <section id="blog">
            <div class="row">
                <div class="col-md-8">

                    @foreach (var post in Model)
                      {
                          <article class="blog-post">
                              <div class="blog-post-image">
                                  <img src="@Html.Raw(post.MediaURL)" alt="">
                              </div>
                              <div class="blog-post-body">
                                  <h2><a href="@Url.Action("Details", new { slug = post.Slug })">@post.Title</a></h2>
                                  <div class="post-meta"><span>by <a href="dscinto.azurewebsites.net">Dan Scinto</a></span>/<span><i class="fa fa-clock-o"></i>@Html.Raw(post.Created.DateTime.ToLongDateString())</span>/<span><i class="fa fa-comment-o"></i> <a href="#">343</a></span></div>
                                  <p>@Html.Raw(post.Body)</p>
                              </div>
                          </article>
                      }
                </div>
                <div class="col-md-4 sidebar-gutter">
                    <aside>
                        <!-- sidebar-widget -->
                        <div class="sidebar-widget">
                            <h3 class="sidebar-title">About Me</h3>
                            <div class="widget-container widget-about">
                                <a href="post.html"><img src="images/author.jpg" alt=""></a>
                                <h4>Dan Scinto</h4>
                                <div class="author-title">Adventurer</div>
                                <p>While everyone’s eyes are glued to the runway, it’s hard to ignore that there are major fashion moments on the front row too.</p>
                            </div>
                        </div>
                        <!-- sidebar-widget -->
                        <div class="sidebar-widget">
                            <h3 class="sidebar-title">Featured Posts</h3>
                            <div class="widget-container">

                                @foreach (var post in Model)
                                {
                                    <article class="widget-post">
                                        <div class="post-image">
                                            <img src="@Html.Raw(post.MediaURL)" alt="">
                                        </div>
                                        <div class="post-body">
                                            <h2><a href="@Url.Action("Details", new { slug = post.Slug })">@post.Title</a></h2>
                                            <div class="post-meta">
                                                <span><i class="fa fa-clock-o"></i>@Html.Raw(post.Created.DateTime.ToLongDateString())</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                                            </div>
                                        </div>
                                    </article>
                                }
                            </div>
                        </div>
            <!-- sidebar-widget -->
            <div class="sidebar-widget">
                <h3 class="sidebar-title">Socials</h3>
                <div class="widget-container">
                    <div class="widget-socials">
                        <a href="https://www.facebook.com/dpscinto"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/dpscinto"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.instagram.com/itsthejrny/"><i class="fa fa-instagram"></i></a>
                        <a href="https://github.com/dpscinto"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
            <!-- sidebar-widget -->
            <div class="sidebar-widget">
                <h3 class="sidebar-title">Categories</h3>
                   <div class="widget-container">
                    <ul>
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Art</a></li>
                        <li><a href="#">Featured</a></li>
                        <li><a href="#">Graphics</a></li>
                        <li><a href="#">Peoples</a></li>
                        <li><a href="#">Uncategorized</a></li>
                    </ul>
                   </div>
            </div>
              </aside>
            </div>
    </div>
    </section>
</div><!-- /.container -->
