@model IPagedList<BlogDS.Models.BlogPost>

@{
    Layout = "~/Views/Shared/_PostLayout.cshtml";

}
@using PagedList;
@using PagedList.Mvc;

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<!-- Preloader -->

<div id="preloader">
    <div id="status">
        <div class="status-mes"><h4>Dan Scinto</h4></div>
    </div>
</div>

<!-- Intro section start -->

<section id="intro" class="section">

    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <div class="hello wow bounceInDown">
                    <h1>My Thoughts On...</h1>
                    <h3><span class="rotate">Emerging Technology. | Travel. | Coding. | The Outdoors. | Education. | Food.</span></h3>
                </div>

                <a href="#blog">
                    <div class="mouse-icon">
                        <div class="wheel"></div>
                    </div>
                </a>

            </div>

        </div><!-- .row -->

    </div><!-- .container -->

</section><!--Intro section end-->

<div class="container body-content">
    <section id="blog">
        <div class="row">
            <br />
            <div class="col-md-8">
                <p>
                    @if (User.IsInRole("Admin"))
                    {@Html.ActionLink("Create New Post", "Create")}
                </p>

                @foreach (var post in Model)
                {
                    <article class="blog-post">
                        <div class="blog-post-image">
                            <img src="@Html.Raw(post.MediaURL)" alt="">
                        </div>
                        <div class="blog-post-body">
                            <h2><a href="@Url.Action(@post.Slug,"Blog")">@post.Title</a></h2>
                            <div class="post-meta"><span>by <a href="dscinto.azurewebsites.net">Dan Scinto</a></span>/<span><i class="fa fa-clock-o"></i>@post.Created.DateTime.ToLongDateString()</span>/<span><i class="fa fa-comment-o"></i> <a href="#">343</a></span>/<span>Updated on: @post.Updated.Value.DateTime.ToLongDateString()</span></div>
                            <div class="dotdotdot">
                                <p>@Html.Raw(post.Body)</p>
                            </div>
                            <div class="read-more"><a href="@Url.Action(@post.Slug,"Blog")">Continue Reading</a></div>
                        </div>
                        <div class="admin-options">
                            @if (User.IsInRole("Admin"))
                            {@Html.ActionLink("Edit", "Edit", new { id = post.Id }) <span> | </span>
                            @Html.ActionLink("Delete", "Delete", new { id = post.Id })}
                        </div>
                    </article>
                }
                <div class="pager">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Minimal)
                </div>
            </div>
            <div class="col-md-4 sidebar-gutter">
                <aside>
                    <!-- sidebar-widget -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">About Me</h3>
                        <div class="widget-container widget-about">
                            <a href="http://dscinto.azurewebsites.net/"><img src="~/images/ds1.jpg" /></a>
                            <h4>Dan Scinto</h4>
                            <div class="author-title">connoisseur of things</div>
                            <div class="author-quote">
                                <p>I'm often traveling around the world, exploring new cities and remote wilderness. I love to hike and ski and try new food and collect maps. I take a lot of photos along the way.</p>
                                <p><strong>Remember:</strong> A rolling stone gathers no moss.</p>
                            </div>
                        </div>
                    </div>
                    <!-- sidebar-widget -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">Featured Posts</h3>
                        <div class="widget-container">

                            @foreach (var post in Model)
                            {
                                <article class="widget-post">
                                    <div class="post-image">
                                        <img src="@Html.Raw(post.MediaURL)" alt="">
                                    </div>
                                    <div class="post-body">
                                        <h2><a href="@Url.Action(@post.Slug,"Blog")">@post.Title</a></h2>
                                        <div class="post-meta">
                                            <span><i class="fa fa-clock-o"></i>@Html.Raw(post.Created.DateTime.ToLongDateString())</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                                        </div>
                                    </div>
                                </article>
                            }
                        </div>
                    </div>
                    <!-- sidebar-widget -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">Let's Be Social</h3>
                        <div class="widget-container">
                            <div class="widget-socials">
                                <a href="https://www.facebook.com/dpscinto"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/dpscinto"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/itsthejrny/"><i class="fa fa-instagram"></i></a>
                                <a href="https://github.com/dpscinto"><i class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- sidebar-widget -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">Categories</h3>
                        <div class="widget-container">
                            <ul>
                                <li><a href="#">Emerging Tech</a></li>
                                <li><a href="#">Travel</a></li>
                                <li><a href="#">Coding</a></li>
                                <li><a href="#">The Outdoors</a></li>
                                <li><a href="#">Education</a></li>
                                <li><a href="#">Food</a></li>
                                <li><a href="#">Uncategorized</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Blog Search Well -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title">Search</h3>
                        <div class="widget-container">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                        <!-- /.input-group -->
                    </div>
                </aside>
            </div>
        </div>
    </section>
</div><!-- /.container -->
