<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Dan Scinto's Blog</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="icon"
          type="image/png"
          href="assets/images/DS-logo (1).png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    </head>

    <body>

            <!-- Preloader -->

            <div id="preloader">
                <div id="status">
                    <div class="status-mes"><h4>Dan Scinto</h4></div>
                </div>
            </div>

            <!-- Navigation start -->

            <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
                <div class="container">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="http://dscinto.azurewebsites.net/">Dan Scinto</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="http://dscinto.azurewebsites.net/">Home</a></li>
                            <li><a href="#blog">Blog</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li><a href="#login">Log In</a></li>
                        </ul>
                    </div>

                </div>
            </nav>

            <!-- Navigation end -->

        <!-- Intro section start -->

        <section id="intro" class="section">

            <div class="container">

                <div class="row">

                    <div class="col-md-12">

                        <div class="hello wow bounceInDown">
                            <h1>My Thoughts On...</h1>
                            <h3><span class="rotate">Emerging Technology. | Travel. | Coding. | The Outdoors. | Education. | Food.</span></h3>
                        </div>

                        <a href="#blog">
                            <div class="mouse-icon">
                                <div class="wheel"></div>
                            </div>
                        </a>

                    </div>

                </div><!-- .row -->

            </div><!-- .container -->

        </section>

        <!--Blog Content-->

            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer class="footer">
                    <div class="footer-socials">
                        <a href="https://www.facebook.com/dpscinto"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/dpscinto"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.instagram.com/itsthejrny/"><i class="fa fa-instagram"></i></a>
                        <a href="https://github.com/dpscinto"><i class="fa fa-github"></i></a>
                    </div>
                    <div class="footer-bottom">
                        <i class="fa fa-copyright"></i> 2016. Daniel Scinto<br>
                    </div>
                </footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)

    </body>
</html>
